.header{
    display: flex;
    margin: 0 auto;
    max-width: 900px;
}
.header__logo{
    padding: 15px;
}
.header__menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 0;
}
.header__menu li{
    list-style: none;
}
.news-block{
    margin: 20px auto;
    max-width: 900px;
    display: flex;
    flex-direction: column;
}
.news-block__footer{
    display: flex;
    justify-content: space-between;
}
.buttons{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}